# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build directories
dist/
dist-ssr/
.client/dist/
server/dist/

# Environment variables
client/.env
server/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency directories
bower_components/
jspm_packages/
web_modules/
typings/

# Miscellaneous
.npm
.eslintcache
.node_repl_history

# Gatsby files
.cache/

# VuePress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.local/dynamodb

# TernJS port file
.tern-port
